<div class="author-card author-{{slug}}{{#if class}} {{class}}{{/if}}{{#if profile_image}} has-image{{/if}}">

  {{!-- Author profile image --}}
  {{#if profile_image}}
    {{#link href=url class="author-card__media flex flex-cc"}}
      {{> image
        image_type="author"
        picture_class="author-card__img z-index-1"
        image_class="lazyload"
        image_url=profile_image
        size_xs=true
        size_s=true
        sizes="120px"
      }}
    {{/link}}
  {{/if}}

  {{!-- Author hero content --}}
  <div class="author-card__content flex-1 flex flex-col text-acc">
    <div class="author-card__header">
      <h3 class="author-card__name fw-700 mb-0">
        {{#link href=url}}{{name}}{{/link}}
      </h3>

      <ul class="author-card__social {{#if twitter}} has-twitter{{/if}}{{#if facebook}} has-facebook{{/if}}{{#if website}} has-website{{/if}}">
        {{!-- Twitter --}}
        {{#if twitter}}
          <li>
            <a href="{{social_url type="twitter"}}" target="_blank" title="Twitter" aria-label="Twitter">
              {{> icon name="twitter-x" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{!-- Facebook --}}
        {{#if facebook}}
          <li>
            <a href="{{social_url type="facebook"}}" target="_blank" title="Facebook" aria-label="Facebook">
            {{> icon name="facebook" icon_class="filled" size="sm"}}
          </a>
        {{/if}}
        {{#if linkedin}}
          <li>
            <a href="{{social_url type="linkedin"}}" target="_blank" title="LinkedIn" aria-label="LinkedIn">
              {{> icon name="linkedin" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if bluesky}}
          <li>
            <a href="{{social_url type="bluesky"}}" target="_blank" title="Bluesky" aria-label="Bluesky">
              {{> icon name="bluesky" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if threads}} 
          <li>
            <a href="{{social_url type="threads"}}" target="_blank" title="Threads" aria-label="Threads">
              {{> icon name="threads" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if mastodon}}    
          <li>
            <a href="{{social_url type="mastodon"}}" target="_blank" title="Mastodon" aria-label="Mastodon">
              {{> icon name="mastodon" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if tiktok}}
          <li>
            <a href="{{social_url type="tiktok"}}" target="_blank" title="TikTok" aria-label="TikTok">
              {{> icon name="tiktok" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if youtube}}
          <li>
            <a href="{{social_url type="youtube"}}" target="_blank" title="YouTube" aria-label="YouTube">
              {{> icon name="youtube" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{#if instagram}}
          <li>
            <a href="{{social_url type="instagram"}}" target="_blank" title="Instagram" aria-label="Instagram">
              {{> icon name="instagram" size="sm"}}
            </a>
          </li>
        {{/if}}
        {{!-- Author website --}}
        {{#if website}}
          <li>
            <a href="{{website}}" class="link"
              title="Website" aria-label="Website"
              target="_blank" rel="noopener noreferrer">
              {{> icon name="link" size="sm"}}
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
    
    {{#if bio}}<p class="author-card__bio text-acc opacity-080">{{bio}}</p>{{/if}}
    
    {{#link href=url class="author-card__view text-08 text-acc opacity-075 fw-600"}}{{t "View articles"}}{{/link}}
  </div>
</div>
