{{!-- Content preview --}}
<div class="content post-sneak-peek">
  {{{html}}}
</div>

{{!-- Post Access CTA --}}
<div class="content-cta {{visibility}}">
  <div class="content-cta__content">
    <h2 class="content-cta__title">{{t "Learn AI in 5 minutes a day."}}</h2>
    {{#has visibility="members"}}
      <p class="content-cta__description">
        {{#if @member}}{{t "Sign in"}}{{else}}{{t "Sign up"}}{{/if}} 
        {{t "Get the latest AI news, understand why it matters, and learn how to apply it in your work—all without having to befriend a chatbot."}}.
      </p>  
    {{/has}}
    {{#has visibility="paid"}}
      <p class="content-cta__description">
        {{#if @member}}{{t "Upgrade"}}{{else}}{{t "Sign up"}}{{/if}} 
        {{t "now to read the full story and get access to all posts for"}} 
        {{t "paying subscribers only"}}.
      </p>
    {{/has}}
    {{#has visibility="tiers"}}
      <p class="content-cta__description">
        {{#if @member}}{{t "Upgrade"}}{{else}}{{t "Sign up"}}{{/if}} 
        {{t "now to read the full story and get access to all posts for"}} 
        {{tiers}} {{t "only"}}.
      </p>
    {{/has}}

    {{#if @member}}
      <a href="/account/"{{#if @custom.use_portal_links}} data-portal="account"{{/if}} class="btn btn--brand mb">
        {{t "Account"}}
      </a>
    {{else}}
      {{#if @site.members_enabled}}
        <a href="/signup/"{{#if @custom.use_portal_links}} data-portal="signup"{{/if}} class="btn btn--brand mb">
          {{t "Subscribe"}}
        </a>
      {{/if}}
      <div class="small">
        <span>{{t "Already have an account?"}}</span> 
        <a href="/signin/"{{#if @custom.use_portal_links}} data-portal="signin"{{/if}} class="content-cta-alt link-no-style">
          {{t "Sign in"}}
        </a>
      </div>
    {{/if}}
  </div>
</div>