<div class="post-info">
  {{#unless hide_author}}
    <ul class="post-info__avatars">
      {{#if single_author}}
        {{#foreach authors limit="1"}}
          <li class="author-avatar {{#if profile_image}}has-image{{else}}has-icon{{/if}}">
            <a href="{{url}}" title="{{name}}" aria-label="{{name}}">
              {{#if profile_image}}
                {{> image
                  image_type="author"
                  image_class="lazyload"
                  image_url=profile_image
                  size_xxs=true
                  size_xs=true
                  sizes="60px"
                }}
              {{else}}
                {{>icon name="user"}}
              {{/if}}
            </a>
          </li>
        {{/foreach}}
      {{else}}
        {{#foreach authors}}
          <li class="author-avatar {{#if profile_image}}has-image{{else}}has-icon{{/if}}">
            <a href="{{url}}" title="{{name}}" aria-label="{{name}}">
              {{#if profile_image}}
                {{> image
                  image_type="author"
                  image_class="lazyload"
                  image_url=profile_image
                  size_xxs=true
                  size_xs=true
                  sizes="60px"
                }}
              {{else}}
                {{>icon name="user"}}
              {{/if}}
            </a>
          </li>
        {{/foreach}}
      {{/if}}
    </ul>
  {{/unless}}
  
  {{#unless hide_author}}
    {{#if single_author}}
      <span class="post-info__authors">{{authors limit="1" separator=", "}}</span>
    {{else}}
      <span class="post-info__authors">{{authors separator=", "}}</span>
    {{/if}}
  {{/unless}}
  
  <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> 

  {{!-- Comment count --}}
  {{#if comments}}
    {{#if @custom.post_card_comment_count}}
      <a class="post-info__comments" href="{{url}}#comments">
        {{>icon name="comment" size="sm"}}
        {{comment_count
          empty="0"
          singular=""
          plural=""
          class=""
        }}
      </a>
    {{/if}}
  {{/if}}
</div>