<div class="post-date-share">
  <time class="post-date"
      datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}"
      data-published-at="{{date format="YYYY-MM-DDTHH:mm:ss"}}">
  {{date format="MMMM DD YYYY"}}
</time>

  {{#if reading_time}}
    <span class="post-readtime">{{reading_time minute=(t '1 min read') minutes=(t '% min read')}}</span>
  {{/if}}
  
  {{!-- {{#if comments}}
    <a class="post-comment-count" href="#comments">
      {{>icon name="comment" size="sm"}}
      {{comment_count
        empty="0"
        singular=""
        plural=""
        class=""
      }}
    </a>
  {{/if}} --}}

  <span class="spacing"></span>

  <button class="share-toggle" onclick="this.classList.toggle('is-active')">
    <span>{{t "Share"}}</span>
    {{> icon name="chevron-down"}}
  </button>

  {{> social-share}}
</div>
